.getEarlyAccess {
  position: relative;
  width: 860px;
  height: 270px;
  margin: 0 auto -115px;
  padding: 45px 75px;
  border-radius: 10px;
  text-align: center;
  z-index: 50;
  background-color: $dBlue;
  color: $white;
  box-shadow: 7px 7px 7px hsl(216, 53%, 7%, 50%);
  h2 {
    font-family: $raleway;
    font-size: 32px;
    margin-bottom: 22px;
  }
  p {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  form {
    position: relative;
    display: flex;
    justify-content: space-between;

    input {
      width: 480px;
      height: 47px;
      border-radius: 47px;
      padding: 0 35px;
      border: none;
      font-family: $openSans;
      &::placeholder {
        font-family: $openSans;
        letter-spacing: -0.02em;
        color: hsl(217, 28%, 15%, 50%);
      }
    }
    button {
      position: relative;
      display: inline-block;
      width: 200px;
      height: 47px;
      padding: 0;
      border: none;
      border-radius: 47px;
      outline: inherit;
      overflow: hidden;

      cursor: pointer;
      font-family: $raleway;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      background: white;

      color: $white;
      &:before {
        position: absolute;
        content: "Get Started For Free";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 14px;
        background: linear-gradient(to right, $cyan, $blue);
        transition: all 0.14s ease-in-out;
      }
      &:hover:before {
        opacity: 0.6;
      }
    }
    .errorMessage {
      position: absolute;
      display: none;
      top: 50px;
      left: 36px;
      font-size: 10px;
      font-weight: 600;
      // letter-spacing: -0.03em;
      color: $lRed;
      text-align: left;
    }
  }
}
