header {
  padding: 5.06vw 5.35vw 77px; //73px 77px;
  background-color: $dBlue;
  .headerBox {
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 270px;
      a {
        position: relative;
        color: hsl(0, 0%, 100%, 85%);
        font-family: $raleway;
        font-size: 16px;
        transition: all 0.2s ease-in-out;

        &:nth-child(1) {
          width: 67px;
        }
        &:nth-child(2) {
          width: 42px;
        }
        &:nth-child(3) {
          width: 52px;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 2px;
          width: 100%;
          height: 1px;
          background: white;
          transition: transform 0.2s ease-in-out;
          transform: scale(0);
        }
        &:hover::after {
          transform: scale(1);
        }
        &:hover {
          font-weight: 600;
          color: white;
        }
      }
    }
  }
}
.hero {
  position: relative;
  height: 1100px;
  background: bottom/contain url(/images/bg-curvy-desktop.svg) $dBlue no-repeat;
  text-align: center;
  color: $white;
  img {
    display: block;
    margin: 0 auto 36px;
  }
  h1 {
    width: 680px;
    margin: 0 auto 34px;
    font-size: 40px;
    font-family: $raleway;
    line-height: 1.5;
  }
  p {
    width: 600px;
    margin: 0 auto 32px;
    font-size: 20px;
    line-height: 1.5;
  }
  button {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 55px;
    padding: 0;
    border: none;
    border-radius: 55px;
    outline: inherit;
    overflow: hidden;
    cursor: pointer;
    font-family: $raleway;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    background: white;
    color: $white;
    &:before {
      position: absolute;
      content: "Get Started";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 18px;
      background: linear-gradient(to right, $cyan, $blue);
      transition: all 0.14s ease-in-out;
    }
    &:hover:before {
      opacity: 0.6;
    }
  }
}
