@import "globals";
@import "attribution";
@import "variables";
@import "hero";
@import "features";
@import "stayProductive";
@import "credentials";
@import "getEarlyAccess";
@import "footer";

body {
  z-index: -40;
}
.background {
  position: relative;
  background: $dBlue2;
  z-index: -30;
}
@import "mediaQs";
@import "mediaQsMiddle";
