@media screen and (max-width: 500px) {
  p,
  a {
    color: hsl(0, 0%, 100%, 70%);
  }
  header {
    padding: 25px 23px 50px 20px;
    img {
      height: 24px;
    }
    .menu {
      width: 165px;
      a {
        font-size: 12px;
      }
    }
  }
  ///hero////
  .hero {
    position: relative;
    height: auto;
    margin-bottom: 155px;
    z-index: -20;
    background: $dBlue;
    &:before {
      position: absolute;
      content: "";
      background: bottom / cover url(/images/bg-curvy-mobile.svg) no-repeat;
      z-index: -10;
      height: 40vw; //170px;
      top: 50.66vw; //190px;
      left: 0;
      right: 0;
    }
    &:after {
      position: absolute;
      content: "";
      background: $dBlue2;
      z-index: -10;
      height: 350px; //170px;
      top: 90vw; //190px;
      left: 0;
      right: 0;
    }
    img {
      height: 60vw; //220px;
      margin: 0 auto 27px;
    }
    h1 {
      width: 100%;
      font-size: 24px;
      padding: 0 30px;
      margin: 0 auto 17px;
    }
    p {
      width: 100%;
      padding: 0 37px;
      font-size: 14px;
      line-height: 1.5;
    }
    button {
      width: 240px;
      height: 47px;
      font-size: 14px;
    }
  }
  ////features section////
  .features {
    display: block;
    width: 100%;
    margin-bottom: 130px;
    .feature {
      margin: 0 auto 75px;
      img {
      }
      h3 {
        font-size: 18px;
      }
      p {
        padding: 0 20px;
      }
      &:nth-child(1) {
        img {
          height: 60px;
        }
      }
      &:nth-child(2) {
        img {
          height: 70px;
        }
      }
      &:nth-child(3) {
        img {
          height: 55px;
        }
      }
      &:nth-child(4) {
        img {
          height: 50px;
        }
      }
    }
  }
  ///stay productive section///
  .stayProductive {
    display: block;
    margin: 0 auto;
    padding: 30px 27px 170px;
    img {
      width: 100%;
      padding: 0 8px;
    }
    .box {
      padding-top: 45px;
      h2 {
        width: 100%;
        font-size: 18px;
        padding-left: 4px;
        margin-bottom: 17px;
      }
      p {
        width: 100%;
        font-size: 14px;
      }
      .linkWithArrow {
        width: 131px;
        margin-top: 15px;
        padding-bottom: 4px;
        a {
          font-size: 12px;
        }
      }
    }
  }
  ////credentials/////
  .credentials {
    display: block;
    padding: 0 47px;
    margin-bottom: 155px;
    .credential {
      width: 100%;
      height: auto;
      padding: 25px 20px 20px;
      margin-bottom: 25px;
      font-size: 10px;
      .credText {
        font-family: $raleway;
        line-height: 1.75;
        letter-spacing: -0.001em;
        margin-bottom: 15px;
      }
      .credName {
        color: white;
      }
      &:nth-child(1) {
        position: relative;
        &::before {
          content: "";
          background: center/ cover url(/images/bg-quotes.png);
          position: absolute;
          width: 22px;
          height: 15px;
          top: -15px;
          left: 7px;
          z-index: -10;
        }
      }
    }
  }
  /////get early access/////
  .getEarlyAccess {
    width: auto;
    height: auto;
    margin: 0 20px -170px;
    padding: 40px 27px;
    h2 {
      font-size: 18px;
    }
    p {
      width: 100%;
    }
    form {
      display: block;
      input {
        width: 100%;
        margin-bottom: 24px;
        padding: 4px 35px 0 30px;

        font-size: 11px;
      }
      button {
        width: 100%;
      }
      .errorMessage {
        top: 45px;
      }
    }
  }
  ///footer////
  footer {
    grid-template-columns: 100%;
    grid-template-rows: 93px 110px 40px 107px 190px 180px 60px;
    padding: 243px 28px 20px;
    .footerLogo {
      grid-column: 1/2;
      padding-left: 10px;
    }
    p {
      ///lorem////
      &:nth-child(2) {
        grid-row: 2 /3;
        grid-column: 1/2;
      }
      //phone////
      &:nth-child(3) {
        grid-row: 3 /4;
        grid-column: 1/2;
        justify-self: start;
        padding-left: 40px;
        &::before {
          content: "";
          background-image: url(/images/icon-phone.svg);
          background-size: 13px 13px;
          width: 13px;
          height: 13px;
          left: 3px;
        }
      }
      ///email////
      &:nth-child(4) {
        grid-row: 4 /5;
        grid-column: 1/2;
        justify-self: start;
        &:before {
          left: 0;
        }
      }
    }
    .links1 {
      grid-row: 5 /6;
      grid-column: 1/2;
      justify-self: start;
    }
    .links2 {
      grid-row: 6 /7;
      grid-column: 1/2;
      justify-self: start;
    }
    .socialLinks {
      grid-row: 7/8;
      grid-column: 1/2;
      width: 105px;
      justify-self: center;
      .circle {
        width: 27px;
        height: 27px;
        border: 1px solid hsl(0, 0%, 100%, 70%);
      }
    }
  }
}
