// ### Primary
$dBlue: hsl(217, 28%, 15%); // - Dark Blue (intro and email sign up background)
$dBlue2: hsl(218, 28%, 13%); // - Dark Blue (main background):
$dBlue3: hsl(216, 53%, 9%); // - Dark Blue (footer background):
$dBlue4: hsl(219, 30%, 18%); // - Dark Blue (testimonials background):
// ### Accent
$cyan: hsl(176, 68%, 64%); // - Cyan (inside call-to-action gradient):
$blue: hsl(198, 60%, 50%); // - Blue (inside call-to-action gradient):
$lRed: hsl(0, 100%, 63%); // - Light Red (error): hsl(0, 100%, 63%)
// ### Neutral
$white: hsl(0, 0%, 100%); // - White:
///fonts
$raleway: "Raleway", sans-serif; //font-family: "Raleway", sans-serif;
